@font-face {
	font-family: 'Kievit';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src:
		local('Kievit'),
		local('Kievit'),
		url('./assets/fonts/KievitPro-Thin.woff') format('woff');
}

@font-face {
	font-family: 'Kievit';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		local('Kievit'),
		local('Kievit'),
		url('./assets/fonts/KievitPro-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Kievit';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src:
		local('Kievit'),
		local('Kievit'),
		url('./assets/fonts/KievitPro-Bold.woff') format('woff');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
}

.main_wrap {
	width: 100%;
	margin: 0 auto;
	padding-top: 110px;
	padding-bottom: 134px;
	background-color: #f9f7f2;
}
